<h1>sign up</h1>

<form action="/auth/signup" method="POST" class="form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button class="btn">Sign up</button>

</form>

<p>Already have an account?<a href="/auth/signin">Sign in</a></p>