<h1>sign in</h1>

<form action="/auth/signin" method="POST" class="form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button class="btn">Sign in</button>

</form>

<p>No account?<a href="/auth/signup">Sign up</a></p>